  <% @users.each do |user| %>
    <div class="postCont">
      <div class="pic"></div>
       <div class='userCard'>
        <h2><%= user.name %></h2>
        <h3>Number of posts: X</h3>
       </div>
    </div>
<% end %>
