<!DOCTYPE html>
<html>
  <head>
    <title>Weblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <div class='post'>
  <h2>Post #1 by John Doe</h2>
  <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacinia purus in ultrices ultricies. Phasellus hendrerit sed nunc eu tristique. Phasellus at quam eu metus suscipit ultrices non nec eros. In tincidunt quam a ipsum accumsan rhoncus. Morbi sed ante ut lacus molestie dictum. Ut eu lectus in lectus scelerisque interdum sed in arcu. Integer molestie non dolor at lacinia. Fusce a finibus risus. Nullam id pellentesque mi. Aliquam erat volutpat.

Vivamus et ligula ullamcorper, egestas dolor at, efficitur enim. Praesent sagittis at neque et faucibus. Nullam eget ligula ex. Mauris gravida ex et purus venenatis, non porta dui porttitor. In fringilla mi quis nisl tempus, eget consequat justo sodales. In sodales velit a leo pellentesque, quis finibus nulla scelerisque. Nullam sit amet laoreet dolor. Cras eu libero ut ipsum maximus semper.

Phasellus hendrerit varius faucibus. Proin nisi sapien, suscipit non elementum at, gravida tincidunt tellus. Sed vitae condimentum orci, efficitur finibus metus. Curabitur lobortis orci sed arcu blandit iaculis. Ut semper purus at rutrum scelerisque. Donec eu felis vitae erat tristique pulvinar sit amet vel velit. Cras et gravida erat, vel bibendum velit. Proin et enim a odio imperdiet accumsan at nec dolor. Aliquam mollis orci ac cursus faucibus. Donec bibendum purus a nibh commodo elementum. Aliquam congue tortor augue, finibus vulputate urna laoreet non. Curabitur pellentesque fermentum aliquet. Mauris ullamcorper tortor ligula, ac tempus mauris vulputate sed. Donec volutpat quam a luctus eleifend. Morbi feugiat, risus a consequat viverra, ex nisl faucibus lectus, quis cursus felis sapien et enim.

  </p>
  <h3>Number of posts: X</h3>
  </div>

  <div class='comment'>
    <p>Tyler: Nice comment!</p>
    <p>John: Cool way to put it</p>
    <p>Fernando: LOL!</p>
    <p>Tyler: Nice comment!</p>
    <p>John: Cool way to put it</p>
    <p>Fernando: LOL!</p>
    <p>Tyler: Nice comment!</p>
    <p>John: Cool way to put it</p>
    <p>Fernando: LOL!</p>
  </div>

  </body>
</html>
