body {
  margin-left: 10em;
  margin-right: 10em;
  background-color: black;
}

.postCont {
  display: flex;
  height: 16em;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: white;
}

.pic {
  width: 15em;
  height: 15em;
  border: 3px solid black;
}

.userCard {
  border: 3px solid black;
  width: 75%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.userCard h2 {
  font-size: 4em;
  width: 40%;
  text-align: center;
}

.userCard h3 {
  font-size: 1.5em;
  width: 50%;
  text-align: right;
  margin-top: 6em;
}
